<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Course App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
        <div class="content">
            <h1>Welcome to <span>Virtual Classroom</span></h1>
            <p>Your ultimate learning destination</p>
            <div class="buttons">
                <a href="{{ url_for('register') }}" class="btn">Register</a>
                <a href="{{ url_for('login') }}" class="btn">Login</a>
            </div>
    </div>
</body>
</html>

